
<div class = "container text-center">
  <h1>Game results</h1>

  <div class="results">
    <p>Your word</p>
    <h2><%= @answer %></h2>
  </div>

  <div class="results">
    <p>Translation:</p>
    <h2><%= @results[:translation] %></h2>
  </div>

  <div class="results">
    <p>Score:</p>
    <h2><%= @results[:score] %></h2>
  </div>

  <div class="results">
    <p>Message:</p>
    <h2><%= @results[:message] %></h2>
  </div>

</div>


